APP_NAME=event-platform-gateway-api
APP_VERSION=0.1.0
APP_ENV=dev
APP_PORT=8000
LOG_LEVEL=INFO

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=user
RABBITMQ_PASSWORD=password
RABBITMQ_QUEUE=events.raw
RABBITMQ_EXCHANGE=